# IntelliJ IDEA
.idea
*.iml

# Mac OS
.DS_Store

# Maven
target

# docs
docs/public
docs/db.json
docs/.deploy_git
docs/node_modules
pom.xml.versionsBackup

*.pyc
venv
.webassets-cache/

static/imgs/avatar/
git
