<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Service {% endblock %}

{% block page_content %}

    <div class="card mt10">
        <h5 class="card-header">
            <a href="{{ url_for('ServiceView.create') }}" class="btn btn-sm btn-primary right" type="button">Add
                Service</a>
        </h5>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Create Time</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for model in models %}
                    <tr>
                        <td>{{ model.id }}</td>
                        <td>{{ model.name }}</td>
                        <td>{{ model.createTime }}</td>
                        <td>
                            <a class="btn btn-link btn-xs btn-xs-custom"
                               href="{{ url_for('ServiceView.home', id=model.id) }}"
                               data-toggle="tooltip" data-placement="top" title="Modfiy">
                                <span class="fa-stack">
                                  <i class="fas fa-square fa-stack-2x"></i>
                                  <i class="fas fa-edit fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/Service.js') }}"></script>
{% endblock %}