<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} {{title}} {% endblock %}

{% block page_styles %}
<script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
{% endblock %}

{% block page_content %}
<div class="row">

    <!-- 提示信息开始 -->
    {% block alert %} {% endblock %}
    <!-- 提示信息结束 -->

    <!-- 个人信息左侧菜单开始 -->
    <div class="col-lg-2 col-12 side-main offset">
        {% block settings_left_menu %}
        <div class="panel panel-default">
            <div class="panel-heading">个人设置</div>
            <div class="panel-body" style="padding: 0px;">
                <div class="list-group" style="margin-bottom: 0px;">
                    <a href="{{ url_for('settings_view.profile') }}"
                       class="list-group-item {% if active_menu == 'profile' %} active {% endif %}">资料</a>
                    <a href="{{ url_for('settings_view.security') }}"
                       class="list-group-item {% if active_menu == 'security' %} active {% endif %}">安全</a>
                    <a href="{{ url_for('settings_view.logging_login') }}"
                       class="list-group-item {% if active_menu == 'logging-login' %} active {% endif %}">登录日志</a>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
    <!-- 个人信息左侧菜单结束 -->

    <!-- 个人信息右侧数据开始 -->
    <div class="col-lg-10 col-12 conternt-main">
        {% block settings_right_content %} {% endblock %}
    </div>
    <!-- 个人信息右侧数据结束 -->

</div>
{% endblock %}