<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/xterm.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/addons/fullscreen/fullscreen.css') }}"/>
    <!-- <link rel="stylesheet" href="/dist/style.css" /> -->
    <script src="{{ url_for('static', filename='dist/xterm.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/addons/fullscreen/fullscreen.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/addons/fit/fit.js') }}"></script>
    <title>iMonitor Web Terminal</title>
</head>

<body>
<div class="container">
    <div id="terminal-container"></div>
</div>
<script>
    // terminado.apply(Terminal);
    Terminal.applyAddon(fit);
    var cols = parseInt(document.documentElement.clientWidth / 9.5, 10)
    var rows = parseInt(document.documentElement.clientHeight / 18, 10)
    var terminal = new Terminal({
            cols: cols,
            rows: rows
        }),
        protocol = (location.protocol === 'https:') ? 'wss://' : 'ws://',
        socketURL = protocol + location.hostname + ((location.port) ? (':' + location.port) : '') + "/websocket/{{server_id}}";
    socket = new WebSocket(socketURL);

    terminal.open(document.getElementById('terminal-container'));
    terminal.writeln('欢迎使用iMonitor Web Terminal');

    socket.addEventListener('open', function () {
        // terminal(socket);
        terminal.writeln('正在连接服务器...');
        socket.send("size:" + cols + "," + rows)
        terminal.on('data', function (data) {
            socket.send(data);
        });
    });

    socket.addEventListener("message", function (msg) {
        terminal.write(msg.data)
    });

    socket.addEventListener('error', function (err) {
        terminal.writeln('1111')
        socket.emit('{{server_id}}', '\r\n*** SSH CONNECTION ERROR: ' + err.message + ' ***\r\n');
    });

    socket.addEventListener('close', function (err) {
        terminal.writeln('服务器连接已经关闭，请检查是否服务器配置出现问题！！！');
    });

    terminal.fit();
    // terminal.toggleFullScreen(true);
</script>
</body>

</html>
